<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ./partial/head%>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="/customer/edit/<%= customerId.id%>" method="POST">


          <div class="form-group">
            <label for="formGroupExampleInput"></label>
            <input type="text" class="form-control" id="formGroupExampleInput" value="<%= customerId.name %>" name="name">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.username%>" name="username">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.password%>" name="password">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.tinggi_badan%>" name="tinggi_badan">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.berat_badan%>" name="berat_badan">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.gender%>" name="gender">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.level_activity%>" name="level_activity">
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2"></label>
            <input type="text" class="form-control" id="formGroupExampleInput2" value="<%= customerId.age%>" name="age">
          </div>


          <input type="submit"  value="Submit">

  </body>
</html>
